POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ROBOFLOW_API_KEY=
AIRFLOW_UID=1000
AGENT_PG_USER=agent_ro
AGENT_PG_PASSWORD=
GOOGLE_API_KEY=
GEMINI_MODEL=
GROQ_API_KEY=
GROQ_MODEL=
GROQ_FALLBACK_MODEL=
